{% extends '@App/Country/base.html.twig' %}

{% block form %}
    <h1>{{ 'country.edit'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.active) }}

    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
